@layer layout {
    .videoWrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        border-radius: var(--borderRadiusL);
        overflow: hidden;
        background: var(--backgroundLight);
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: var(--borderRadiusL);
    }
}